// 按照功能
$c-border:#e6e6e6; //适用于边框
$c-light-border:#f0f0f0; //浅颜色边框

$c-text: #4A4A4A; // 适用于正文
$c-tip: #b3b3b3; //适用于提示文字

$c-bg: #F9F9F9; //背景;
$c-bg-gray: #EAEAEA; //背景;

// 颜色值
$c-red: #F72929;
$c-black: #000;
$c-pink: #FF5F5F;
$c-blue : #348FEE;
$c-gray : #979797;
$c-orange : #f34e19;
$c-white : #ffffff;
$c-text: #373737;

