#app{
  padding: 20px 100px;
}

.form-control{
  outline: none;
  padding: 8px 10px;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  transition: border-color,box-shadow .3s;
  &:focus{
    box-shadow: 0 0 4px rgba(#348FEE, 0.8);
    border-color: rgba(#348FEE, 0.8);
  }
  input{
    border: none;
    height: 100%;
    width: 100%;
  }
}
